.logo-animation-container {
  height: 100%;
  position: relative;
}

.ship {
  position: absolute;
  top: 80%;
  transition: left 0.1s linear;
}

#shipSize {
  width: 60px;
  height: 60px;
}

.bullet {
  position: absolute;
  width: 10px;
  height: 20px;
}